body{
    Background: silver;
}


main{
    margin:10vh 5vw auto;
}

.mainboard{
    background: skyblue;
    display:flex;
}

.textcard{
    background: green;
}

.textcard .header{
    background: lime;
    display: flex;
    justify-content: space-between;
}

.textcard .main{
    background:olive;
}

.textcard {
    width:40vw;
    heigth:70vh;
}

.textcard .footer{
    background: yellow;
}

.gittree{
    background: maroon;
}

.gittree .expand{
    width:90vw;
    height:70vh;
}

.gittree .squish{
    width:30vw;
    height:70vh;
    /* filter: blur(5px); */
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.label{
    fill: white;
}

.node{
    fill:black;
}
